click==8.1.7
colorama==0.4.6
distlib==0.3.9
Flask==3.0.3
Flask-CORS==3.0.10   # Adicionado para suporte a CORS
Flask-SQLAlchemy==3.0.3
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.1
MouseInfo==0.1.3
platformdirs==4.3.6
PyGetWindow==0.0.9
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.2
six==1.16.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.26.6
Werkzeug==3.0.4
psycopg2==2.9.10
