.produto {
  border-bottom: 2px solid gray;
  margin: 20px 10px;
  padding: 0 10px;
  padding-bottom: 15px;
}

h3,
h2 {
  margin: 5px;
}

.nome-produto {
  font-size: 2em;
}

.dados-produto {
  display: flex;
  flex-direction: column;
}

.id-user {
  display: inline-flex;
}

.dados-bottom {
  display: flex;
  justify-content: space-between;
}
