<div class="produto">
  <h2 class="nome-produto">Nome do Produto</h2>
  <h3>Id: #0000</h3>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eveniet
      perferendis non nulla beatae est aperiam explicabo, assumenda earum
      inventore fuga sit, ad modi consectetur eos repellat? Tempora, omnis
      rerum!
    </p>
  </div>

  <div class="dados-produto">
    <h3>Preço inicial: R$ 349,99</h3>

    <h3>Data de postagem: dd/mm/aaaa</h3>

    <div class="dados-bottom">
      <h3 class="id-user">Id do usuário que postou: #00</h3>

      <div class="interacoes">
        <button class="btn-aval">
          <img src="../../../assets/images/avaliacoes.png" alt="avaliações" />
        </button>

        <div>
          <button class="btn-lances">Lances</button>
        </div>
      </div>
    </div>
  </div>
</div>
