<div class="produto">
  <h3 class="nome-produto">{{ produto.nome }}</h3>
  <h3>ID : #{{ produto.id_produto }}</h3>
  <p>{{ produto.descricao }}</p>
  <div class="dados-produto">
    <h3>Preço Inicial: R$ {{ produto.preco_inicial }}</h3>
    <h3>Data da postagem: {{ produto.data_inicial }}</h3>
  </div>
  <div class="dados-bottom">
    <h3 class="id-user">Id do usuário que postou: #00</h3>

    <div class="interacoes">
      <button class="btn-aval" (click)="navAvaliacao()">
        <img src="../../../assets/images/avaliacoes.png" alt="avaliações" />
      </button>

      <div>
        <button class="btn-lances" (click)="navLances()">Lances</button>
      </div>
    </div>
  </div>
</div>
