<div class="interface-avaliacoes">
  <app-produto></app-produto>

  <!--
        Pensar em um jeito de remover o componente interações
        aqui do componente avaliações
    -->

  <div class="lista-avaliacoes">
    <app-avaliacao></app-avaliacao>

    <app-avaliacao></app-avaliacao>
  </div>

  <div class="bottom">
    <div class="sec">
      <h3>Id User:</h3>

      <input type="number" />
    </div>

    <div class="sec">
      <h3>Avaliação:</h3>

      <input type="text" />
    </div>

    <button>Submit</button>
  </div>
</div>
