.interface-leilao {
  width: 95%;
  height: 90%;
  margin: auto;
}

.produtos {
  overflow-y: auto;
  height: 95%;
  overflow-y: auto;
}

.produtos::-webkit-scrollbar {
  width: 10px;
}

.produtos::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.produtos::-webkit-scrollbar-thumb {
  background: #888;
}

.bottom-produtos {
  margin: 30px 30px;
}

.anunciar-btn {
  background-color: #3c8be6;
  padding: 5px 15px;
  font-size: 1.4em;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.anunciar-btn:hover {
  background-color: #10529c;
}
